.page-width {
    max-width: var(--page-width);
    margin: 0 auto;
}
.multi-card .second-image {
    opacity: 0;
    transition: 0.3s ease-in-out
}
.multi-card:hover .second-image {
    opacity: 1
}
.shopify-section.bestseller {
    display: block
}

.scrollbar-bottom::-webkit-scrollbar {
    height: 4px;
    transition: 0.3s ease-in-out;
    width: 100px
}
.scrollbar-bottom:hover::-webkit-scrollbar {
    height: 6px;
}
.scrollbar-bottom::-webkit-scrollbar-track {
    background: rgba(var(--color-foreground), 0.1);
    border-radius: 6px;
}
.scrollbar-bottom::-webkit-scrollbar-thumb {
    background-color: rgb(var(--color-foreground));
    border-radius: 6px;
} 
@media (min-width: 640px) {
    .scrollbar-bottom.page-width {
        margin-left: auto;
        max-width: calc((100% - var(--page-width)) / 2 + var(--page-width));
        margin-right: 0;
        -webkit-overflow-scrolling: touch;
        overflow-x: auto;
    } 
}
@media (max-width: 639px) {
    .page-width {
        padding-left:15px;
        padding-right: 15px;
    }
}